{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
      <li class="nav-item{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}{{#if ./items.length}} nav-item-expandable {{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./url}}
    <a class="nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
    {{~else}}{{{./url}}}{{~/if}}"><p class="nav-text">{{{./content}}}</p></a>
    {{else}}
    <p class="nav-text{{#if ./items.length}} nav-text-toggle{{/if}}">{{{./content}}}</p>
    {{/if}}

        {{#if ./items.length}}
            <button class="nav-item-toggle"></button>
        {{/if}}
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
